{% extends "../partials/layout.twig" %}
{% block links %}
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">
    <link
    crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!-- Stylesheet -->
    <link href="/stylesheets/style.css" rel="stylesheet">
{% endblock %}
{% block main %}

    <body>
        {% include "../partials/header.twig" %}
        <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-4">
                <div class="sidebar-widget shadow-lg card border-0 mb-3">
                    <div class="text-center"><img src="{{ user.avatar }}" alt="" class="user-img rounded-circle"></div>
                    <div class="card-body p-4 text-center">
                        <h5 class="mb-0 mt-4">{{ user.name }}</h5>
                        <a href="/users/{{user._id}}/show">My Profile</a>
                        {% for a in appts %}
                            <p>{{ a.service.serviceName }}</p>
                            <p>{{ a.date }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        {% include "../partials/footer.twig" %}
    </body>
{% endblock main %}
